name: cross platform test 
permissions:
  contents: read

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Install Git LFS
        run: |
          git lfs install
          git lfs pull
      # Ensure Python is available on both Windows and Linux
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Configure
        run: python setup_build_system.py --ok

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose